@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Mulish:wght@400;500;600;700&display=swap');

$font-family-sans-serif:     'Mulish', sans-serif !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif !default;
$base-size: 16;
//Function to convert px value into rem
//You can replace rem with any other value you want (rem is most preferred value for web)
@function size($target, $context: $base-size) {
  @return ($target / $context) * 1rem;
}  
$base-font-size: size($base-size);
$font-family-lora: 'Lora', serif;
$font-family-mulish:'Mulish', sans-serif;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1134px,
  xxl: 1134px
);
.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
  width: 100%;
  padding-right: size(16);
  padding-left:size(16);
  margin-right: auto;
  margin-left: auto;
}
$grid-gutter-width:size(32);
@import "custom-variable";
@import "scss/bootstrap.scss";
@import "common";
@import "header";
@import "footer";
@import "contactUs";
@import "component";


// overwrite variable
html{font-size:$base-size + px;}
body{background-color: $white;color:$color-body;font-family:'Mulish', sans-serif;}

